.character-grid-container{
    display: grid;
    /* TODO: fix this when resizing */
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}

/* Slideshow */

.character-detail-page-container-hidden{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.character-detail-page-container-showing{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);

}





#exit-button{
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
}

#exit-button:hover{
    cursor: pointer;
}

.slideshow-photo{
    object-fit: cover;
    width: 100%;
    height: auto;
}

#character-slideshow-wrapper{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-buttons{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}

.arrow-buttons:hover{
    cursor: pointer;
}

#forward-slide-button{
    right: calc(-1rem - 20px);
}

#back-slide-button{
    left: -1rem;
}

.character-slide{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.character-filter-sort-div{
    padding: 0 10px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
