.content-wrapper{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.text{
    font-family: sans-serif;
}

.selected{
    font-weight: bolder;
}

.loading-spinner{
    font-size: 4rem;
}

.loading-wrapper{
    display: block;
    text-align: center;
}