#attributes-title{
    margin: 0.5rem;
}

table, th, td{
    padding: 1rem;
    border: 1px black solid;
    /* border-radius: 2rem; */
    border-collapse: collapse;
}

table{
    max-width: 100%;
    margin: 1rem auto;
}

.attribute-list{
    display: inline-block;
}

.attribute-list-item{
    
    display: inline-block;
    margin: 0 .5rem;
    white-space: nowrap;
}

.attribute-list-item:hover{
    cursor: pointer;
    opacity: 75%;
}