.details-page-div{
    background-color: lightgray;
    width: 100%;
    /* min-height: 100vh; */
    border-radius: 2rem;
    /* padding: 2rem; */
}

.detail-page-header{
    height: 400px;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}
.detail-page-character-title{
    margin: 1rem 0 0 0;
}

.detail-header-photo{
    /* height: 100%;
    width: auto; */
    border-radius: 1rem;
    margin: auto;
    display: block;
    width: 75%;
    height: 90%;
    object-fit: cover;
    object-position: 50% 20%;
}

.detail-page-content{
    text-align: center;
}

.detail-list{
    display: inline-block;
    margin: 1rem;
}

.detail-category{
    display: inline;
    margin: 2rem;
}

.detail-category:hover{
    cursor: pointer;
    opacity: 75%;
}

.details-container{
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 2rem;
}

.games-list{
    display: inline-block;
    margin: 1rem;
}

.game-list-item{
    display: inline;
    margin: 2rem;
}

.game-list-item:hover{
    cursor: pointer;
    opacity: 75%;
}

