.details-page-div{
    background-color: white;
    width: 100%;
    min-height: 100vh;
}

.detail-page-header{
    height: 400px;
    padding: 2rem;
}

.detail-header-photo{
    height: 100%;
    width: auto;
    border-radius: 1rem;
    margin: auto;
    display: block;
}

.detail-page-content{
    
}