#header-content-wrapper{
    text-align: center;
}

#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
}

#header-title{
    text-align: center;
    display: block;
}